.AuthPage {
	margin-top: 8rem;
	margin-bottom: 8rem;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.AuthPage h1 {
	font-size: 3rem;
}


.form-container {
	margin: auto;
	padding: 20px;
	background-color: none;
	border: 1px solid goldenrod;
	border-radius: 4px;
	margin-top: 2rem;
	width: 80%;
	display: inline-block;
	position: relative;

}



.form-container input {
	padding: 8px 12px;
	margin-bottom: 15px;
	border: 1px solid white;
	border-radius: 4px;
}

.form-container button[type='submit'] {
	padding: 10px;
	font-weight: bold;
	color: white;
	border: gold solid;
	border-radius: 4px;
	cursor: pointer;
}

.error-message {
	margin-top: 10px;
	color: #dc3545;
	font-size: 14px;
}