.EventsIndexPage {
	margin: 8rem;
	display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.category-color-travel {
	/* background-color: transparent; */
	outline: solid 1px blue;
}

.category-color-travel h2 {
	color: blue;
	outline: none;
}
.category-color-travel span {
	color: blue;
	border: blue;
}

.category-color-birthday {
	background-color: transparent;
	outline: solid 1px #00ff00;
}

.category-color-birthday span {
	color: #00ff00;
	border: #00ff00;
}
.category-color-birthday h2 {
	color: #00ff00;
	outline: none;
}

.category-color-other {
	background-color: transparent;
	outline: solid 1px #ff0000;
}
.category-color-other span {
	color: #ff0000;
	border: #ff0000;
}
.category-color-other h2 {
	color: #ff0000;
	outline: none;
}
.category-color-sports {
	background-color: transparent;
	outline: solid 1px #ff8000;
}
.category-color-sports span {
	color: #ff8000;
	border: #ff8000;
}
.category-color-sports h2 {
	color: #ff8000;
	outline: none;
}

.category-color-family {
	background-color: transparent;
	outline: solid 1px#ff00ff;
}

.category-color-family span {
	color: #ff00ff;
	border: #ff00ff;
}
.category-color-family h2 {
	color: #ff00ff;
	outline: none;
}
.category-color-concert {
	background-color: transparent;
	outline: solid 1px#ffff00;
}

.category-color-concert span {
	color: #ffff00;
	border: #ffff00;
}
.category-color-concert h2 {
	color: #ffff00;
	outline: none;
}

.category-color-wedding {
	background-color: transparent;
	outline: solid 1px#00ffff;
}

.category-color-wedding span {
	color: #00ffff;
	border: #00ffff;
}
.category-color-wedding h2 {
	color: #00ffff;
	outline: none;
}
.category-color-social {
	background-color: transparent;
	outline: solid 1px#8000ff;
}

.category-color-social span {
	color: #8000ff;
	border: #8000ff;
}
.category-color-social h2 {
	color: #8000ff;
	outline: none;
}

.category-color-business {
	background-color: transparent;
	outline: solid 1px #0080ff;
}

.category-color-business span {
	color: #0080ff;
	border: #0080ff;
}
.category-color-business h2 {
	color: #0080ff;
	outline: none;
}

