.EventDetailPage {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }

  .EventDetailPage .loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

  }

  .EventDetailPage .error-message {
	text-align: center;
	font-size: 1.2rem;
	color: red;
  }
