.form-container {
	background-color: transparent;
	width: 50rem;
	border: 0px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.col-form-label {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	margin-bottom: 0;
	line-height: 1.5;
}

.col-form-label-lg {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.25rem;
}

.form-label {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 1.5rem;
}

.form-text {
	margin-top: 0.25rem;
	font-size: 0.875em;
	color: var(--bs-secondary-color);
}

.form-control {
	display: block;
	width: 75%;
	margin: auto;
	padding: 0.375rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 0 solid black;
	border-radius: var(--bs-border-radius);
}

.form-container label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.form-container input[type='text'],
.form-container input[type='date'],
.form-container input[type='time'] {
	/* width: 60%; */
	padding: 8px 12px;
	margin-bottom: 15px;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

.form-container button[type='submit'] {
	width: 100%;
	padding: 10px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.error-message {
	margin-top: 10px;
	color: #dc3545;
	font-size: 14px;
}

.form-check {
	margin: 0.2rem 0.5rem 1rem;

}
.form-check-label {
	font-size: 1.1rem;
}

