.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 5rem;
}

