.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 5rem;
}
