.App {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* display: block; */
  /* position: absolute; */
}

.main{
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 10rem;
  display: flex;
	margin-top: 5rem;

}



